<% content_for :header do %>
  <iframe src="https://www.youtube-nocookie.com/embed/qxFc_j2kjcc?rel=0&amp;controls=0&amp;showinfo=0"
    frameborder="0" allowfullscreen class="hidden-xs"></iframe>

  <div class="callout">
    <h1>"Brand New Flag"</h1>
    <p>In Stores Now</p>
    <p>Show your support for <b>TCG</b> by creating a custom profile photo.</p>
  </div>

  <%= order_link(class: "hidden-xs") %>

  <div class="social-links hidden-xs">
    <%= link_to "https://www.facebook.com/Two-Cow-Garage-15327419845", target: "_blank" do %>
      <%= fa_icon("facebook-square") %>
    <% end %>
    <%= link_to "https://twitter.com/twocowgarage1", target: "_blank" do %>
      <%= fa_icon("twitter-square") %>
    <% end %>
    <%= link_to "https://www.instagram.com/twocowgarage", target: "_blank" do %>
      <%= fa_icon("instagram") %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-7 clearfix">
    <%= form_for @photo, url: preview_photo_path do |f| %>
      <div class="form-group">
        <%= star(1) %>
        <%= fa_icon("check-circle-o") %>
        <%= f.label :creator_email, class: "sr-only" %>
        <%= f.email_field :creator_email, placeholder: "Enter your email address." %>
      </div>

      <div class="form-group">
        <%= star(2) %>
        <%= fa_icon("check-circle-o") %>
        <button type="button" id="image-btn">Pick A Photo</button>
        <%= f.label :image, class: "sr-only" %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>

      <div class="form-group">
        <%= star(3) %>
        <%= f.submit "Pick A Color", class: "disabled" %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-5">
    <div id="example-photo" class="photo hidden-xs"></div>
  </div>
</div>

<script type="text/javascript">
  $("input#photo_creator_email, input#photo_image").change(function() {
    var value = $(this).val();
    if (value) { $(this).siblings("i.fa").fadeIn(300) };
    enableSubmitButton();
  });

  $("button#image-btn").click(function() {
    $("input#photo_image").click();
  });

  function enableSubmitButton() {
    var email = $("input#photo_creator_email").val();
    var image = $("input#photo_image").val();
    if (email && image) { $("input[type='submit']").removeClass("disabled") };
  }
</script>