<%= form_for @photo, url: preview_photo_path do |f| %>
  <div class="form-group">
    <%= f.label :creator_email, class: "sr-only" %>
    <%= f.email_field :creator_email, placeholder: "Email Address" %>
  </div>

  <div class="form-group">
    <%= f.label :image, class: "sr-only" %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <%= f.submit "Continue" %>
<% end %>