<% content_for :header, pre_order_button(class: "hidden-xs") %>

<div class="row">
  <div class="col-sm-6">
    <%= form_for @photo, html: { id: "preview-photo", class: "clearfix" } do |f| %>
      <%= f.hidden_field :creator_email %>
      <%= f.hidden_field :image_cache %>
      <%= f.hidden_field :color, value: "red" %>

      <h2>Pick A Color</h2>

      <button type="button" class="selector" data-color="red"></button>
      <button type="button" class="selector" data-color="gold"></button>
      <button type="button" class="selector" data-color="green"></button>
      <button type="button" class="selector" data-color="blue"></button>
      <button type="button" class="selector" data-color="purple"></button>
      <button type="button" class="selector" data-color="grey"></button>

      <div class="checkbox">
        <%= f.label :gallery do %>
          <%= f.check_box :gallery %>
          <%= fa_stacked_icon("check", base: "square-o") %>
          Add photo to the public gallery
        <% end %>
      </div>

      <%= f.submit "Save My Photo" %>
      <div class="separator">- OR -</div>
      <%= link_to "Start Over", root_path, class: "button" %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <div id="photo-preview" class="photo" style="background-image: url(<%= @photo.image_cache_url %>)">
      <%= image_tag "overlay_red.png", class: "overlay red" %>
      <%= image_tag "overlay_gold.png", class: "overlay gold" %>
      <%= image_tag "overlay_green.png", class: "overlay green" %>
      <%= image_tag "overlay_blue.png", class: "overlay blue" %>
      <%= image_tag "overlay_purple.png", class: "overlay purple" %>
      <%= image_tag "overlay_grey.png", class: "overlay grey" %>
    </div>

    <small>
      Photo turned the wrong way?
      Orientation will be corrected automatically when you click "SAVE MY PHOTO".
    </small>
  </div>
</div>

<script type="text/javascript">
  $("button.selector").click(function() {
    var color = $(this).data("color");
    $("img.overlay").not("." + color).css("opacity", 0);
    $("img.overlay." + color).css("opacity", 1);
    $("input#photo_color").val(color);
  });
</script>