<%= form_for @photo do |f| %>
  <%= f.hidden_field :creator_email %>
  <%= f.hidden_field :image_cache %>
  <%= f.hidden_field :color, value: "gold" %>

  <div class="photo-preview" style="background-image: url(<%= @photo.image_cache_url %>)">
    <%= image_tag "overlay_gold", class: "overlay gold" %>
    <%= image_tag "overlay_green", class: "overlay green" %>
    <%= image_tag "overlay_blue", class: "overlay blue" %>
    <%= image_tag "overlay_purple", class: "overlay purple" %>
    <%= image_tag "overlay_red", class: "overlay red" %>
    <%= image_tag "overlay_grey", class: "overlay grey" %>
  </div>

  <button type="button" class="selector" data-value="gold">Gold</button>
  <button type="button" class="selector" data-value="green">Green</button>
  <button type="button" class="selector" data-value="blue">Blue</button>
  <button type="button" class="selector" data-value="purple">Purple</button>
  <button type="button" class="selector" data-value="red">Red</button>
  <button type="button" class="selector" data-value="grey">Grey</button>

  <%= f.submit "Save Photo" %>
<% end %>

<script type="text/javascript">
  $("button.selector").click(function() {
    var value = $(this).data("value");
    $("img.overlay").hide();
    $("img.overlay." + value).show();
    $("input#photo_color").val(value);
  });
</script>