<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Brand New Flag</title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:300,400,700" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= render "layouts/google_analytics" %>
  <% end %>
</head>
<body>
  <%= render "layouts/facebook_js" %>
  <%= render "layouts/flash" %>

  <div id="top-bar"></div>

  <div class="container">
    <header class="<%= "mini" unless header_has_callout? %>">
      <%= content_for :header %>
    </header>

    <%= yield %>

    <%= render "photos/gallery", photos: @photos %>
  </div>

  <footer>Made by <%= link_to "Jack Whitis", "mailto:jack.whitis@gmail.com" %></footer>
</body>
</html>