<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Two Cow Garage</title>
  <meta name="description" content="The official Two Cow Garage website. New album BRAND NEW FLAG available October 14, 2016." />
  <%= render "layouts/open_graph_meta_tags" %>
  <%= favicon_link_tag "favicon.png" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:300,400,700" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= render "layouts/google_analytics" %>
  <% end %>
</head>
<body>
  <%= render "layouts/facebook_js" %>
  <%= render "layouts/flash" %>

  <nav>
    <%= link_to "Home", root_path %>
    <%= fa_icon("star") %>
    <%= link_to "Tour Dates", tour_dates_path %>
    <%= fa_icon("star") %>
    <%= link_to "TCG Store", "http://twocowgarage.bigcartel.com" %>
  </nav>

  <div class="container">
    <header class="<%= "mini" unless header_has_callout? %>">
      <%= content_for :header %>
    </header>

    <%= yield %>

    <%= render "photos/gallery", photos: @photos %>
  </div>

  <footer>
    &copy; <%= Time.now.year %> Two Cow Garage
    <br class="visible-xs-block" />
    <%= fa_icon("star", class: "hidden-xs") %>
    Booking: <%= mail_to "tylerrehm@gmail.com", "The TR Agency" %>
  </footer>
</body>
</html>